* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("kepek/hatter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    width: 90%;
    max-width: 900px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}

h1 {
    text-align: center;
    color: burlywood;
}

/* Menü kialakítása */
nav li {
    list-style-type: none;
    border: 1px solid white;
    border-radius: 5px;
    
}

nav li a {
    text-decoration: none;
    color: white;
}

img {
    width: 100px;
}