* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("kepek/hatter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    background-image: url(kepek/etlap-hatter.png);
    width: 90%;
    max-width: 900px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
}

form {
    color: green;
    font-weight: bolder;
    max-width: 500px;
    margin: auto;
}

form fieldset {
    padding: 15px;
    margin: 15px;
}

form .ren_eler {
    display: grid;
    grid-template-columns: 100px 1fr;
}

form .ren_eler label {
    text-align: right;
    padding: 10px;
}

form .rendeles label {
    text-align: right;
    padding: 10px;
}

@media screen and (max-width:250px) {
    form {
        max-width: 100%;
    }

    form .ren_eler {
        grid-template-columns: 1fr;
    }
    
    form .ren_eler label {
        text-align: left;
        padding-top: 15px;
    }
}

header {
    color: green;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center
}

form .velemeny {
    padding: 15px;
    margin: auto;
}
article{ 
    border-radius: 10px;
     ;
}